<% include header %>
<% include banner %>
<div id="mian">
    <div class="box">
        <div class="box_1">
            <div class="Title"><img src="images/title_1.png" width="161" height="28" /></div>
            <div class="Right_1"><img src="images/gongsi.jpg" width="334" height="255" align="left" />
                <p>　　临澧县廖妹子湘北食品加工厂坐落于湖南省四大河流之一——"澧水"。澧水流域资源充足，盛产鲜鱼，具有"绿水六十里，水成靛澧色"之景。公司依傍澧水丰富的物产资源工艺，以"我善制鱼"为口号，不断求新立异。拥有标准的现代化厂房，集鱼类食品加工、贸易、科研、物流配送于一体。自2000年成立以来，一直秉承澧水民间传统制鱼工艺，以"我善制鱼"为口号，不断求新立异。公司采用严格的现代企业管理模式、严格的进货渠道、全封闭的工艺生产流程，以保证产品的质量。 <br />
                    公司现已拥有"廖妹子""澧水河畔"二个品牌，几十个品种和规格的天然、绿色食品。满足... <a href="#">查看详情>></a> </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="box_2">
            <div class="Title_2"><img src="images/lianxi.png" width="86" height="28" /><span><a href="#">更多>></a></span></div>
            <div class="Left_1">
                <p>客服QQ：893292706　<img src="images/qq.jpg" width="60" height="18" /></p>
                <p>电  话：15575115777   18373656666</p>
                <p>传  真：0731—84695852</p>
                <p>网  址：http：//www.liaomeizi.com</p>
                <p>销售地址：湖南省长沙市高桥农副产品
                    商贸城新村1栋113号</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="box_3">
        <% include left %>
        <div class="Left_2">
            <ul>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <li><a href="#"><img src="images/p!.jpg" width="213" height="143" /></a>
                    <p><a href="#">武汉风干鱼</a></p>
                    <img src="images/p_li.jpg" height="9" /></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="box_4">
        <div class="zhiz">
            <div class="Title"><img src="images/title_1.png" width="161" height="28" /></div>
            <div  class="ry"> <a href="#"><img src="images/ry.jpg" width="235" height="170" /></a> <a href="#"><img src="images/ry.jpg" width="235" height="170" /></a> <a href="#"><img src="images/ry.jpg" width="235" height="170" /></a> <a href="#"><img src="images/ry.jpg" width="235" height="170" /></a> </div>
            <div class="clear"></div>
        </div>
        <div class="tuiguang">
            <div class="Title"><img src="images/title_1.png" width="161" height="28" /></div>
            <div  class="ry">
                <div class="dongtai">
                    <div class="Title_3">行业动态<span><a href="#"><img src="images/more.jpg" width="36" height="11" /></a></span></div>
                    <ul>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a> <span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="dongtai" id="gongsi">
                    <div class="Title_3">公司动态<span><a href="#"><img src="images/more.jpg" width="36" height="11" /></a></span></div>
                    <ul>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a> <span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">我市促进食品加工小作坊规模发展</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="dongtai" id="jiqiao">
                    <div class="Title_3" style="width:250px;">公司动态<span><a href="#"><img src="images/more.jpg" width="36" height="11" /></a></span></div>
                    <ul>
                        <li><a href="#">教你如何做常德牛腩</a> <span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">教你如何做常德牛腩</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">教你如何做常德牛腩</a> <span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">教你如何做常德牛腩</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">教你如何做常德牛腩</a> <span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">教你如何做常德牛腩</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                        <li><a href="#">教你如何做常德牛腩</a><span>2014-7-9</span>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="ad"> <a href="#"><img src="images/ad.jpg" width="181" height="82" /></a> <a href="#"><img src="images/ad.jpg" width="181" height="82" /></a> <a href="#"><img src="images/ad.jpg" width="181" height="82" /></a> <a href="#"><img src="images/ad.jpg" width="181" height="82" /></a> <a href="#"><img src="images/ad.jpg" width="181" height="82" style="margin:0;" /></a> </div>
</div>

<% include footer %>