<div id="footer">
    <div class="Foot"><img src="../images/link.jpg" width="96" height="38" align="left" /> <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> | <a href="#">廖妹子食品加工</a> </div>

    <div class="bq"> <img src="../images/F_logo.jpg" width="58" height="75"  />　<img src="../images/shu.jpg" width="4" height="75"/>　 <span >
    <p style="font-weight:bold; color:#6c6c6c">澧水民间传统制鱼工艺，我们的鱼来自纯野生捕捞</p>
    <p style="color:#9d9c9c;"> 版权所有：?2014 临澧县廖妹子湘北食品加工厂  |  厂址：湖南省常德市临澧县合口镇中横街  |  电话：18373656666<br />
        销售地址：湖南省长沙市高桥农副产品商贸城新村1栋113号  |  电话：0731-84695852  15575115777  |  技术支持：长沙谋者网络科技有限公司</p>
    </span> </div>
</div>
</body>
</html>
