<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>临澧县廖妹子湘北食品加工厂</title>
    <meta name="Keywords" content="青椒炒手撕鱼,风干武昌鱼,平锅臭跳鲢,干锅酱汁手撕鱼,干锅臭桂鱼" >
    <meta name="Description" content="临澧县廖妹子湘北食品加工厂坐落于湖南省四大河流之一——澧水。澧水流域资源充足，盛产鲜鱼，具有绿水六十里，水成靛澧色之景。公司依傍澧水丰富的物产资源工艺，以我善制鱼为口号，不断求新立异。拥有标准的现代化厂房，集鱼类食品加工、贸易、科研、物流配送于一体。自2000年成立以来，一直秉承澧水民间传统制鱼工艺，以我善制鱼为口号，不断求新立异。公司采用严格的现代企业管理模式、严格的进货渠道、全封闭的工艺生产流程，以保证产品的质量。" >
    <link type="text/css" href="css/css.css" rel="stylesheet" />

</head>

<body>


<div id="top"><a href="/"> <img src="images/logo.png" width="468" height="107" alt="临澧县廖妹子湘北食品加工" /> </a><span><img src="images/tel.png" width="319" height="109" alt="" /></span>
    <div class="clear"></div>
</div>
<% include navlist %>