<div class="Right_2">
    <p>食材产品</p>
    <ul>
        <li><a href="/list/?125_1.html">臭桂鱼</a></li>

        <li><a href="/list/?124_1.html">武昌鱼</a></li>

        <li><a href="/list/?123_1.html">臭跳鲢</a></li>

        <li><a href="/list/?122_1.html">花甲</a></li>

        <li><a href="/list/?121_1.html">刁子鱼</a></li>

        <li><a href="/list/?120_1.html">木乃鱼</a></li>

        <li><a href="/list/?119_1.html">石斑鱼</a></li>

        <li><a href="/list/?118_1.html">全家福</a></li>

        <li><a href="/list/?114_1.html">风干草鱼</a></li>

        <li><a href="/list/?129_1.html">其它菜品</a></li>

    </ul>
    <a href="/about/?113.html" target="_blank"><img src="/upLoad/ad/month_1412/201412031025391591.png" border="0" width="215" height="223/"></a>
    <!--<a href="/gbook/" target="_blank"><img src="/upLoad/ad/month_1404/201404301717213129.png" border="0" width="212" height="123/"></a>-->
</div>