<div id="nav">
    <ul>
        <li><a href="/">网站首页</a></li>

        <li><a href="/about">关于廖妹子</a></li>

        <li><a href="/list">新闻动态</a></li>

        <li><a href="/product">食材产品</a></li>

        <li><a href="/case">案例欣赏</a></li>

        <li><a href="/after-sales">售后服务</a></li>

        <li><a href="/join">招商加盟</a></li>

        <li><a href="/mes">联系我们</a></li>

        <li style="background:none;"><a href="/gbook/" >留言反馈</a></li>
        <div class="clear"></div>
    </ul>
</div>